#bibliography {
  font-size: 4em;
  padding-bottom: 20px;
}

body {
  background-color: #f4e0cb;
  color: #413333;
  font-family: sans-serif;
}

header {
  text-align: center;
  background-size: cover;
  background-color: #9b4c38;
  color: #f4e0cb;
}

header ul {
  background-color: #413333;
  padding: 8px;
}

header li {
  display: inline;
  padding: 10px 10px;
  margin: 10px 10px;
}

h1 {
  padding-top: 30px;
  padding-bottom: 0px;
  
}


.About li {
  display: block;
  padding: 5px 10px;
}


a {
  color: #f4e0cb;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding-bottom: 15px;
}

.About {
  padding: 30px 10px 0px 10px;
  margin: auto;
  width: 1200px;
}

#Contact {
  padding: 30px 10px 0px 10px;
  margin: auto;
  width: 1200px;
}

footer {
  padding: 60px 10px 0px 10px;
  margin: auto;
  width: 1200px;
  
}

.About p {
  padding-left: 20px;
  padding-bottom: 10px;
  
}

.foot {
  padding-bottom: 20px;
}